USE [fire.moda]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 05/05/2026 20:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [int] NOT NULL,
	[nome] [varchar](150) NOT NULL,
	[email] [varchar](150) NULL,
	[telefone] [varchar](20) NULL,
	[cpf] [varchar](14) NULL,
	[data_nascimento] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item_pedido]    Script Date: 05/05/2026 20:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pedido_id] [int] NULL,
	[roupa_id] [int] NULL,
	[quantidade] [int] NOT NULL,
	[preco_unitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 05/05/2026 20:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[data_pedido] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roupa]    Script Date: 05/05/2026 20:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roupa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[tipo] [varchar](50) NULL,
	[tamanho] [varchar](10) NULL,
	[cor] [varchar](30) NULL,
	[marca] [varchar](100) NULL,
	[preco] [decimal](10, 2) NOT NULL,
	[estoque] [int] NULL,
	[data_cadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[cliente] ([id], [nome], [email], [telefone], [cpf], [data_nascimento]) VALUES (1, N'João Silva', N'joao@email.com', N'34999990000', N'123.456.789-00', CAST(N'1990-05-10' AS Date))
INSERT [dbo].[cliente] ([id], [nome], [email], [telefone], [cpf], [data_nascimento]) VALUES (2, N'Maria Souza', N'maria@email.com', N'34988880000', N'987.654.321-00', CAST(N'1995-08-22' AS Date))
INSERT [dbo].[cliente] ([id], [nome], [email], [telefone], [cpf], [data_nascimento]) VALUES (3, N'Carlos Pereira', N'carlos@email.com', N'34977770000', N'111.222.333-44', CAST(N'1988-12-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[item_pedido] ON 

INSERT [dbo].[item_pedido] ([id], [pedido_id], [roupa_id], [quantidade], [preco_unitario]) VALUES (1, 1, 1, 2, CAST(59.90 AS Decimal(10, 2)))
INSERT [dbo].[item_pedido] ([id], [pedido_id], [roupa_id], [quantidade], [preco_unitario]) VALUES (2, 1, 4, 1, CAST(149.90 AS Decimal(10, 2)))
INSERT [dbo].[item_pedido] ([id], [pedido_id], [roupa_id], [quantidade], [preco_unitario]) VALUES (5, 1, 1, 16, CAST(450.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[item_pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[pedido] ON 

INSERT [dbo].[pedido] ([id], [cliente_id], [data_pedido]) VALUES (1, 1, CAST(N'2026-04-19T20:34:59.963' AS DateTime))
INSERT [dbo].[pedido] ([id], [cliente_id], [data_pedido]) VALUES (2, 6, CAST(N'2026-04-19T20:39:01.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[roupa] ON 

INSERT [dbo].[roupa] ([id], [nome], [tipo], [tamanho], [cor], [marca], [preco], [estoque], [data_cadastro]) VALUES (1, N'Camiseta Básica', N'Camiseta', N'P', N'Preta', N'Nike', CAST(59.90 AS Decimal(10, 2)), 15, CAST(N'2026-04-19T20:05:20.570' AS DateTime))
INSERT [dbo].[roupa] ([id], [nome], [tipo], [tamanho], [cor], [marca], [preco], [estoque], [data_cadastro]) VALUES (2, N'Camiseta Básica', N'Camiseta', N'M', N'Branca', N'Nike', CAST(59.90 AS Decimal(10, 2)), 20, CAST(N'2026-04-19T20:05:20.570' AS DateTime))
INSERT [dbo].[roupa] ([id], [nome], [tipo], [tamanho], [cor], [marca], [preco], [estoque], [data_cadastro]) VALUES (3, N'Camiseta Básica', N'Camiseta', N'G', N'Azul', N'Nike', CAST(59.90 AS Decimal(10, 2)), 10, CAST(N'2026-04-19T20:05:20.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[roupa] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cliente__AB6E61644B6B2B4C]    Script Date: 05/05/2026 20:32:41 ******/
ALTER TABLE [dbo].[cliente] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cliente__D836E71F7509133C]    Script Date: 05/05/2026 20:32:41 ******/
ALTER TABLE [dbo].[cliente] ADD UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedido] ADD  DEFAULT (getdate()) FOR [data_pedido]
GO
ALTER TABLE [dbo].[roupa] ADD  DEFAULT ((0)) FOR [estoque]
GO
ALTER TABLE [dbo].[roupa] ADD  DEFAULT (getdate()) FOR [data_cadastro]
GO
ALTER TABLE [dbo].[item_pedido]  WITH CHECK ADD FOREIGN KEY([pedido_id])
REFERENCES [dbo].[pedido] ([id])
GO
ALTER TABLE [dbo].[item_pedido]  WITH CHECK ADD FOREIGN KEY([roupa_id])
REFERENCES [dbo].[roupa] ([id])
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD FOREIGN KEY([cliente_id])
REFERENCES [dbo].[cliente] ([id])
GO
